.con{
  width:85%;
}
.fabriclifespan-chart-container
{

  width:90%;
  margin-left: 10%;
  height: 50vh;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.fabriclifespan-chart-container:hover {
  background-color: rgb(183, 231, 233);
  transition: background-color 0.3s ease;
}
.img img{
  display: block; 
  margin: 0 auto; 
  width: 40%; 
  height: 40%; 
}
.fabriclifespan-chart-container p {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 8px 12px; 
  border-radius: 4px; 
  font-size: 20px; 
  color: #333;
}
  