.header {
  padding: 21px 15px;

  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 16px;
  width: 100%;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 12px;
}
