.card {
  display: flex;

  &__options {
    min-width: 30px;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 900px) {
      display: none;
    }
    
    >span {
      padding: 5px;
      position: relative;
    }

    
    &-edit:hover {
      
      svg {
        path {
          stroke: #0036FF;
        }
      }
    }
  }

  &__info-bubble {
    display: none;
    position: absolute;
    z-index: 20;
    background-color: #2e2e2eb3;
    padding: 5px;
    border-radius: 4px;
    left: 0;
    transform: translateX(calc(-50% + 32px));
    color: #fff;

    @media (max-width: 900px) {
      display: none !important;
    }
  }

  &__options >span:hover &__info-bubble {
    display: block;
  }
  
  &__body {
    display: flex;
    background-color: #fff;
    padding: 12px;
    border-radius: 5px;
    flex-direction: column;
  }

  &__content {
    display: flex;

    @media (max-width: 900px) {
      margin-top: 10px;
    }

    &-icons {
      display: flex;
      gap: 10px;

      @media (min-width: 900px) {
        display: none;
      }
    }
  }

  &__image {
    margin-right: 20px;
    min-width: 90px;
    max-width: 150px;
    max-height: 100px;
    overflow: hidden;
    
    image {
      object-fit: cover;
    }

    @media (max-width: 900px) {
      margin-right: 10px;
    }
  }

  &__head {

  }

  &__title-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__title {
    font-size: 20px;
    // width: 100%;
    margin-right: 8px;
    line-height: 1.75rem;
    // width: 450px;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_body {
      display: none;
      @media (max-width: 900px) {
        display: block;
      }
    }

    &_content {
      display: block;
      @media (max-width: 900px) {
        display: none;
      }
    }

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 900px) {
      font-size: 18px;
    }
  }

  &__number, &__date {
    color: #5c5c5c;
  }

  &__info-area {
    margin-top: 10px;
    min-width: 160px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @media (max-width: 900px) {
      gap: 5px;
    }
  }

  &__info {
    border-radius: 5px;
    background: #EDEDED;
    padding: 11px;
    position: relative;

    @media (max-width: 900px) {
      padding: 8px;
    }

    &-name {}
  
    &-value {
      margin-top: 5px;
      font-size: 16px;
      text-align: center;
      color: #5c5c5c;
      max-width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &_empty::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 18px;
        transform: translateX(-50%);
        width: 25px;
        height: 1px;
        background-color: #676767;
      }

      @media (max-width: 800px) {
        font-size: 14px;
      }
    }

    &_clothes-type {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }
}