.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  // min-width: 350px;

  img {
    object-fit: cover;
  }

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 1290px) {
    img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 700px) {
    img {
      width: 353px;
      height: 201px;
    }
  }
  
  &__item {
    // min-width: 350px;
    // max-width: 500px;
    flex: 1 0 13%;
    flex-shrink: 0;

    
    &-order {
      max-width: 300px;
      & {
        margin-right: 0;
      }
    }

  &:not(:last-child) {
    margin-right: 14px;
  }

  @media (max-width: 700px) {
    display: block;
    width: 400px;
    margin: 0 10px 14px 10px;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
  @media (max-width: 450px) {
    width: 300px;
  }
  }

  &__image {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__menu {
    cursor: pointer;
    position: absolute;
    right: -14px;
    top: -15px;
  }

  &__edit {
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #454545;

    svg {
      transform: translateY(2px);
      margin-right: 5px;
    }
    
    &:hover {
      text-decoration: underline;
      color: #0036FF;
    }
  }
  
  &__body {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 6px;
    border: 0.8px solid #C8C8C8;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #000;
    margin: 13px 0 6px 0;
  }

  &__number {
    color: #979797;
    font-size: 12px;
    font-weight: 300;
  }

  &__info {
    margin-top: auto;
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__infoItem {
    border-radius: 5px;
    background: #EDEDED;
    padding: 11px;
    flex: 1 0 40%;
    margin: 7px 7px 7px 0;

    @media (max-width: 700px) {
      flex: 1 1 100%;
    }
  }

  &__label {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 5px;
  }

  &__description {
    color: #000;
    font-weight: 400;
    font-size: 13px;
  }

  &__footer {
    margin-top: 13px;
    display: flex;
    align-items: center;
  }

  &__activity {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 300;
    
    span {
      margin-left: 3px;
    }
  }
}