@import "@/styles/variables";

.swiper-thumbs {
  .swiper-slide {
    overflow: hidden;
    padding: 5px;
    cursor: pointer;

    img {
      border-radius: 5px;
    }

    &.swiper-slide-thumb-active img {
      outline: 6px solid $blue;

      @media (max-width: 768px) {
        outline: 3px solid $blue;
      }
    }
  }
}

.application-swiper,
.application-swiper .swiper-wrapper,
.application-swiper .swiper-wrapper .swiper-slide,
.application-swiper .swiper-wrapper .swiper-slide img {
  max-height: 400px;
}

.application-swiper {
  img {
    object-fit: contain;
  }
}

.application-swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.application-swiper .swiper-slide {
  border-radius: 5px;
  overflow: hidden;
}

.thumbs-prev,
.thumbs-next {
  cursor: pointer;
  min-width: 25px;
  display: flex !important;
  justify-content: center;
  align-items: center;

  svg {
    width: 8px;
    height: 28px;
  }
}

.swiper-thumbs .swiper-slide {
  height: 100%;
  width: 33%;

  @media (min-width: 900px) {
    width: 25%;
  }

  @media (min-width: 1100px) {
    width: 20%;
  }
}

.swiper-backface-hidden .swiper-slide {
  height: max-content;
}

.swiper-wrapper {
  align-items: center;
}