@import "@/styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  font-size: 16px;
  padding: 14px 25px;
  column-gap: 75px;
  line-height: normal;

  @media (max-width: 768px) {
    padding: 14px 0;
  }
}

.text {
  font-weight: 300;

  span {
    color: $gray-4;
  }
}

.status {
  margin-right: auto;

  span {
    color: $green;
    font-weight: 500;
  }

  .statusFinish, .statusDraft {
    color: #fb8800;
  }
}
