.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34; 
  height: 150px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px; 
  font-family: 'Arial', sans-serif; 
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.chart-selection {
  margin-bottom: 20px; 
}



.chart-selection select {
  padding: 8px 12px; 
  font-size: 16px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  background-color: white; 
  outline: none; 
  cursor: pointer; 
  transition: border-color 0.3s ease;
}


.chart-selection select:hover {
  border-color: #aaa;
}

