@import "@/styles/variables";

.wrapper {
  padding: 30px 16px;
  border: 1px solid $gray-5;
  border-radius: 7px;
}

.mainContentWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -14px;
}

.slider {
  width: 35%;
  padding: 14px;
}

.mainContent {
  width: 65%;
  padding: 14px;
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
  margin: -9px;
  margin-top: 18px;
}

.characteristicsBlock {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 9px;
  width: 50%;
}

.characteristicsBlockList {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.characteristicsBlockList > div {
  flex: 1 1 0;
}

@media(max-width: 1150px) {
  .slider, 
  .mainContent {
    width: 50%;
  }
}

@media(max-width: 768px) {
  .slider,
  .mainContent {
    width: 100%;
  }

  .characteristicsBlock {
    width: 100%;
  }
}